# Скрипти генерації та перевірки запитів (за вашою вимогою)
create_queries.py
execute_queries.py

# Тимчасові файли та файли налаштувань IDE
.idea/
.vscode/
*.pyc
__pycache__/

# Віртуальне оточення (якщо створювали у папці проєкту)
.venv/
venv/
ENV/

# Сама база даних (зазвичай великі файли БД на GitHub не вантажать)
# Якщо ментор має запустити seed.py сам, то файл бази краще ігнорувати:
pyweb-hw-06.sqlite
